.Maindiv1{
	border:5px outset red;
	text-align:center;
	background-color:lightblue;
	height:200px;
	
}
.Maindiv2{
	border:5px outset red;
	text-align:center;
	background-color:lightblue;
	height:200px;
	
}
.container{
	
	background-color:gray;
	
	display:grid;
	
	grid-template-columns:repeat(3,1fr);
	/*
	
	grid-template-columns:300px 200px auto;
	
	grid-template-columns:minmax(200px,1fr) 1fr 1fr;
	
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
	
	grid-template-columns:1fr 1fr 1fr;
	
	column-gap:10px;
	
	row-gap:10px; 
	*/
	gap:10px;
	
	
}
.container1{
	display:flex;
	padding:5px;
	
	
	/*
		flex-direction:column;
	*/
}
.para{
	padding:1rem;
	background-color:steelblue;
	color:white;
	border-style: solid;
	
}

.para2{
	background-color:gray;
		padding:50px;
		flex:1;
		border-style: solid;
}
.para3{
	background-color:green;
		padding:50px;
			flex:1;
			border-style: solid;
}
.para4{
	background-color:Dodgerblue;
		padding:50px;
			flex:1;
			border-style: solid;
}
.para5{
	background-color:rgb(62, 127, 71);
		padding:50px;
			flex:1;
			border-style: solid;
}
.para6{
	background-color:rgb(62, 190, 185);
		padding:50px;
			flex:1;
			border-style: solid;
}
.para7{
	background-color:rgb(62, 255, 185);
		padding:50px;
			flex:1;
			border-style: solid;
}
.para8{
	background-color:rgb(240, 210, 32);
		padding:50px;
			flex:1;
			border-style: solid;
}
