.Maindiv1{
	border:5px outset red;
	text-align:center;
	background-color:lightblue;
	height:200px;

	
}
.Maindiv2{
	border:5px outset rgb(139, 238, 88);
	text-align:center;
	background-color:lightblue;
	height:200px;
		float:left;
		width:1900px;
	

	
}

.container1{
	
	background-color:rgb(240, 240, 240);
	
	
	
	
}
.para{
	float:left;
}

.para1{
	background-color:rgb(106, 90, 205);
	border:3px solid rgb(60, 60, 60);
	width:590px;
	height:100px;
	text-align:center;
	padding:20px;
	
	
	
}
.para2{
	background-color:rgb(60, 179, 113);
	border:3px solid rgb(60, 60, 60);
	width:590px;
	height:100px;
	text-align:center;
	padding:20px;


		
}
.para3{
	background-color:rgb(255, 165, 0);
	border:3px solid rgb(60, 60, 60);
	width:580px;
	height:100px;
	text-align:center;
	padding:20px;
		
		
}
.para4{
	background-color:rgb(139, 238, 215);
	border:3px solid rgb(60, 60, 60);
	width:420px;
	height:100px;
	text-align:center;
	padding:20px;
		
		
}
.para5{
	background-color:rgb(139, 68, 215);
	border:3px solid rgb(60, 60, 60);
	width:420px;
	height:100px;
	text-align:center;
	padding:20px;
		
		
}
.para6{
	background-color:rgb(213, 68, 215);
	border:3px solid rgb(60, 60, 60);
	width:430px;
	height:100px;
	text-align:center;
	padding:20px;
		
		
}
.para7{
	background-color:rgb(213, 68, 2);
	border:3px solid rgb(60, 60, 60);
	width:430px;
	height:100px;
	text-align:center;
	padding:20px;
	
		
}